<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form>
    <h1>Tổng 2 số</h1>
    x = <input type="number" id="numberX"><br>
    y = <input type="number" id="numberY"><br>
    <button type="reset" id="btn">Save data</button>
    <a href="/data" id="btn-getData">Get Data</a>
  </form>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $("#btn").click(function () {
      var valueX = $("#numberX").val();
      var valueY = $("#numberY").val();
      $.ajax({
        url: '/',
        method: 'POST',
        data: {
          valueX: valueX,
          valueY: valueY
        }
      })
      alert("Send Success");
    })

  </script>
</body>

</html>